body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
  }
  
  .emoji {
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
  }
  
  .emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
    margin-right: 1rem;
    order: 1;
    text-align: left;
  }
  
  .emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    padding-right: 3rem;
    margin: 1rem 0;
    padding-left: 1rem;
    padding-top: 1rem;
    order: 1;
    padding-bottom: 1rem;  
    text-decoration: none;
    text-align: left;
  }
  
  .icon {
    text-align: center;
    font-size: 3.5rem;
  }
  * {
    box-sizing: border-box;
}

.emoji:nth-child(2){
    display: flex;
    margin: 15px;
    flex-direction: column;
    flex-wrap: wrap;
}

.emoji:nth-child(3){
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 15px;
}
.emoji:first-child {
    flex-wrap: wrap;
    display: flex;
    margin: 15px;
    flex-direction: column;


}
.emoji:last-child {
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    margin: 15px;
    
}
p {
    order: 1;
    margin-left: 0;
    margin-right: 2rem;
}